<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>

</head>
<body>

<table class="table table-hover">
    <tr>
        <th style="width: 80px;">ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr class="clickable-row" th:each="owner : ${owners}" th:data-href="'/owners/' + ${owner.getId()}" style="cursor: pointer">
        <td th:text="${owner.getId()}">1</td>
        <td th:text="${owner.getFirstName()}">OwnerName</td>
        <td th:text="${owner.getLastName()}">OwnerLastName</td>
    </tr>
</table>


</body>
</html>
