<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic</title>
    <link rel="icon" type="image/x-icon" href="https://icon-library.com/images/fox-icon-png/fox-icon-png-26.jpg">
</head>
<body>
    <h1 th:text="#{welcome}">phyr</h1>
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

</body>
</html>
